html
    head
        meta(charset='utf-8')
        title 목록보기
    
    body
        a(href="/subject")
            h1 Server Side Javascript
        ul
            each topic in docs
                a(href='/subject/'+topic)
                    li=topic
        article
            h1=_title
            p=content
        div
            a(href='/subject/new') new
        