doctype
html
    head
        meta(charset="utf-8")
        title 테스트
    body
        h1 Server Side Javascript
        form(method="post" action="/sss/new")
            p
                input(type="text" name="title" placeholder="title")
            p
                textarea(name="desc", cols="30", rows="10",placeholder="description")
            p
                input(type="submit" value="등록")