html
    head
        title 파일 업로드
    body
        form(action="/upload",enctype="multypart/form-data")
            input(type="file",name='userfile')
            input(type="submit",value="파일 업로드")
